.login {
  width: 100%;
  height: 100vh;
  @include bg;
  @include center;
}
.login-item {
  width: 550px;
  background-color: $color-bg-1;
  border-radius: $border-radius-20;
  padding: 55px 15px 55px 15px;

  &__title {
    text-align: center;
    font-weight: 600 !important;
  }
  &__form {
    @include flex;
    flex-direction: column !important;
  }
  &__input {
    width: 80%;
  }
  &__bottom {
    @include center;
  }
}
